<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Welcome</h1>
    <form >
        <!--start a new session-->
        <!-- send email to confirm link-->
        Email: <input id="email" name="email" type="email" />
        <!-- password??-->
    </form>
    <form >
        <!--Sign into your session-->
        
        Email: <input id="email" name="email" type="email" />
    </form>

    <form >
        <!--Reobtain your session-->
        Email: <input id="email" name="email" type="email" />
    </form>
</body>
</html>