<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include ('./partials/shared/head') %>
</head>

<body>
    <h1>Welcome!</h1>
    <form >
        <!--start a new session-->
        <!-- send email to confirm link-->
        Email: <input id="email" name="email" type="email" />
        <!-- password??-->
        <button type="button" class="btn btn-primary" onclick="startSession()">Start</button>
    </form>
</body>
</html>