<!--/partials/modals/editApt.ejs -->
<div class="modal fade" id="editAptModal" tabindex="-1" role="dialog" aria-labelledby="editAptModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAptModalLabel">Edit Apartment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Apartment Complex: <input id='complexEdit' name='complexEdit'>
        Floorplan Name: <input id= 'nameEdit' name='nameEdit'>
        <input id='indexEdit' name='indexEdit' hidden>
        Beds: <input id='bedsEdit' name='bedsEdit'>
        Baths: <input id='bathsEdit' name='bathsEdit'>
        Rent: $<input id='rentEdit' name='rentEdit'>
        Deposit: $<input id='depositEdit' name='depositEdit'>
        SQ. Ft: <input id='sqftEdit' name='sqftEdit'>

        <div id='editAptTagGroup' class="btn-group-toggle" data-toggle="buttons">
          <!--tags buttons generated here-->
        </div>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newTagModal" onclick="loadNewTagCreator('edit')"> + </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="updateApartment()">Save</button>
      </div>
    </div>
  </div>
</div>